// fonts
$fonts: 'Poppins', sans-serif;
$font-weight-1: 200;
$font-weight-2: 400;
$font-weight-3: 600;
$size: 0.94rem;

// colours (primary and neutral)
:root{
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34,97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --grey-500:hsl(234,12%,34%);
    --grey-400:hsl(212,6%, 64%);
    --white: hsl(0,0%,100%);
}

*::before, *::after, *{
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%;
    font-family: $fonts;
    color: var(--grey-500);
}

main{
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:2rem;
}

.title-container{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding-bottom: 1.25rem;
    margin-top: 2.5rem;
    max-width: 25rem;
}

.grid_parent{
    display: grid;
    max-width: 25rem;
    grid-template-columns: 1fr;
    padding-bottom: 1.25rem;
    gap:1.25rem;
}

.grid-card{
    border-radius: 0.625rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding-bottom: 2rem;
    box-shadow: 0px 0.3125rem 0.94rem 0px var(--grey-400);

    &:nth-child(1){
        border-top: 0.25rem solid var(--cyan);
        padding: 2rem; 
    }

       &:nth-child(2){
        border-top: 0.25rem solid var(--red);
        padding: 2rem; 
    }

    &:nth-child(3){
        border-top:0.25rem solid var(--orange);
        padding: 2rem;
    }

    &:nth-child(4){
        border-top: 4px solid var(--blue);
        padding: 2rem; 
    }

    .icons{
        max-width: 100%;
        height:auto;
        display: flex;
        justify-content: end;
    }
}


h1{
    font-weight: $font-weight-1;
}

span{
    font-weight: $font-weight-3;
}

p{
    font-size:  $size;
}

@media(min-width:40rem){
    main{
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
    }

    .title-container{
        margin-top: 1.875rem;
        max-width: 31.25rem;
    }

    .grid_parent{
        padding-bottom: 0;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);
        max-width: 62.5rem;
        margin-bottom: 3rem;
    }

    .grid-card{
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
        min-width: 0;
        padding-bottom: 0;

        &:nth-child(1){
            grid-column: 1;
            grid-row: 2/4;
        }

        &:nth-child(2){
            grid-column: 2;
            grid-row: 1/3;
        }

        &:nth-child(3){
            grid-column: 2; 
            grid-row: 3/5;
        }

        &:nth-child(4){
            grid-column:3;
            grid-row: 2/4;
        }
    }
}